---
import { data, images } from '../constants'
import MenuItem from './menuItem.astro'
---

<div class='flex-col bg-selfblack-50 flex justify-center items-center py-16 px-8 md:p-16 lg:py-16 lg:px-8 xl:px-24' id='specialmenu'>
	<div class='mb-8 text-center'>
		<div class='flex flex-col items-center' style={{ marginBottom: '1rem' }}>
			<p class='text-white font-Cormorant font-bold tracking-[0.04em] capitalize leading-7 lg:leading-[67px] text-[19px] sm:text-2xl'>Menu that fits your palatte</p>
			<img src={images.spoon} alt='spoon_image' class='spoon__img w-11 lg:w-20' />
		</div>
		<h1 class='text-[30px] leading-[70px] sm:text-[50px] sm:leading-[83.2px] font-Cormorant text-golden-50 capitalize tracking-[0.04em]'>Today&apos;s Special</h1>
	</div>

	<div class='w-full mt-4 flex flex-col lg:flex-row justify-center items-center lg:items-start'>
		<div class='flex-1 w-full flex-col flex justify-center items-center'>
			<p class='font-semibold tracking-[0.04em] font-Cormorant text-[35px] leading-[48.5px] sm:text-[45px] sm:leading-[58.5px] text-white'>Wine & Beer</p>
			<div class='flex flex-col w-full mt-8'>
				{data.wines.map((wine, index) => (
					<MenuItem key={wine.title + index} title={wine.title} price={wine.price} tags={wine.tags} />
				))}
			</div>
		</div>

		<div class=' flex w-full sm:w-[410px] my-12 lg:my-0 mx-8'>
			<img class='w-full h-auto' src={images.menu} alt='menu__img' />
		</div>

		<div class='flex-1 w-full flex-col flex justify-center items-center'>
			<p class='font-semibold tracking-[0.04em] font-Cormorant text-[35px] leading-[48.5px] sm:text-[45px] sm:leading-[58.5px] text-white'>Cocktails</p>
			<div class='flex flex-col w-full mt-8'>
				{data.cocktails.map((cocktail, index) => (
					<MenuItem key={cocktail.title + index} title={cocktail.title} price={cocktail.price} tags={cocktail.tags} />
				))}
			</div>
		</div>
	</div>
	<div>
		<button type='button' class='mt-0 bg-crimson-50 text-selfblack-50 font-Cormorant tracking-[0.04em] leading-7 rounded-[1px] border-none cursor-pointer outline-none py-2 px-6 font-bold text-base lg:text-lg'>View More</button>
	</div>
</div>